<header class="header header-6">
  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="wrench" class="is-inverse" size="24"></clr-icon>
      <span class="title">toolbox</span>
    </a>
  </div>
  <div class="header-nav">
    <a *ngFor="let item of menu" 
       (click)="menuClick(item)" 
       [ngClass]="{ 'active': item.active }"
       class="nav-link nav-text">{{ item.text }}</a>
  </div>
  <div class="header-actions">

    <clr-dropdown>
      <button class="btn btn-link" clrDropdownTrigger>
        <clr-icon shape="applications" class="has-badge is-solid"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <label class="dropdown-header" aria-hidden="true">Dropdown header</label>
        <div aria-label="Dropdown header Action 1" clrDropdownItem>Action 1</div>
        <div aria-label="Dropdown header Disabled Action" [clrDisabled]="true" clrDropdownItem>Disabled Action</div>
        <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
        <clr-dropdown>
          <button clrDropdownTrigger>Link 1</button>
          <clr-dropdown-menu>
            <button clrDropdownItem>Foo</button>
            <clr-dropdown>
              <button clrDropdownTrigger>Bar</button>
              <clr-dropdown-menu clrPosition="left-top">
                <button clrDropdownItem>Baz</button>
              </clr-dropdown-menu>
            </clr-dropdown>
          </clr-dropdown-menu>
        </clr-dropdown>
        <div clrDropdownItem>Link 2</div>
      </clr-dropdown-menu>
    </clr-dropdown>

  </div>
</header>
<nav class="subnav">
  <ul class="nav" *ngIf="selectedMenu">

    <li class="nav-item" *ngFor="let sub of selectedMenu.children">
      <a class="nav-link" [ngClass]="{ 'active': sub.active }" (click)="menuClick(sub)">{{ sub.text }}</a>
    </li>

  </ul>
</nav>